<h1>Angular 2 way binding code Floyd example</h1>

<div ng-app="app">
 {{ 2 + 3 }}
  <div ng-controller="tasksCtrl" >
   <div ng-repeat="task in tasks">
     <p>{{ task }}</p> 
     <input ng-model="task">
   </div>
   <h3>Add a new Song</h3> 
   <input ng-model="newTask">
   <button ng-click="addTask(newTask)">Add Song</button> 
  </div>
 </div> 


