<h1>Welcome to angular</h1>

<div ng-app="app">
{{ 234 * 9876 }}
  </div ng-controller="stuffCtrl">
   <p>{{ myMessage }}</p>
   <p>Name: {{ myName }}</p>
   <p>Sum: {{ sum }}</p>
  </div>
 </div> 


