<h1>Welcome to Angular</h1>

<div ng-app="app">
{{ 12 * 12 }}
  <div ng-controller="taskCtrl">
   <p>{{ task1 }}</p>
   <p>{{ task2 }}</p> 
   <p>{{ task3 }}</p>
   <p>{{ review }}</p>
   <input type="text" ng-model=review>
  </div>
 </div> 


