<h1>Angular 2 way binding code Stuff example</h1>
<div ng-app="app">
 {{ 16 * 3 }}
  <div ng-controller="stuffCtrl">
    <p>{{ Message }}</p>
    <p>Name: {{ Name }}</p>
    <p>Sum: {{ sum }}</p>
    <input ng-model="sum">
    <h3>Reviews</h3>
    <ul>
      <li ng-repeat="review in reviews" ng-if="isPositive(review)">
       <p>{{ review }}</p>
       <input ng-model="review">
      </li> 
    </ul>  
   <h3>Add a Review</h3> 
   <input ng-model="newReviewText">
   <button ng-click="addReview(newReviewText)">Add review</button> 
  </div>
 </div> 


